fastapi==0.115.0
uvicorn[standard]==0.30.0
python-multipart==0.0.9
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
deepface==0.0.93
easyocr==1.7.2
numpy==1.26.4
Pillow==10.4.0
tf-keras==2.16.0
mtcnn==0.1.1